@charset "utf-8";
/* CSS Document */
 
.dashcontainer {
    max-width: 1500px;
    padding-top: 0px;
    margin-top: 130px;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
}
.zprofiler {
}
.dashwrapper {
    background-color: rgba(255,255,255,0.00);
    z-index: 99;
    position: relative;
}
.dashcard-margin {
    margin-right: 16px;
    margin-left: 16px;
    margin-bottom: 16px
}




@media (max-width: 600px){
.dashcontainer {
    margin-bottom: 100px;
}

}
