@charset "utf-8";
/* CSS Document */
html, body {
    font-size: 1em !important;
    font-family: Avenir !important;
}
#soundcloud1 {
    display: inherit;
}
#soundcloud2 {
    display: none;
}
.dashboard-dash {
    border-top: dashed;
    display: flex;
    align-content: center;
    vertical-align: middle;
    width: 75px;
    margin-top: auto;
    margin-bottom: auto;
    color: #4F9DA9;
}
.dashboard-messagesnum {
    background-color: #6A459B;
    color: #FFFFFF;
    border-radius: 8px;
    padding-left: 5px;
    padding-top: 2px;
    padding-right: 5px;
    padding-bottom: 2px;
}
.dashcontainer {
    max-width: 1500px;
    padding-top: 0px;
    margin-top: 100px;
    margin-bottom: 115px;
    margin-left: auto;
    margin-right: auto;
}
.dashwrapper {
    background-color: rgba(255, 255, 255, 0.00);
    z-index: 99;
    position: relative;
}
.dashcard-margin {}
.dashboard-nav {
    background-color: #6B459C;
    padding-top: 15px;
    background-image: none;
}
.navbar-center {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    color: #FFFFFF;
    padding-top: 15px;
    font-weight: 800;
    font-size: larger;
}
.dashboard-wrapper {
    padding-top: 50px;
    padding-bottom: 160px;
}
.dashboard-icon {
    z-index: 100;
    display: block;
    outline: 0px solid;
}
.dashboard-downloads {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 0;
    box-shadow: none;
    position: relative;
    display: inline-block;
}
.downloads-holder {
    margin-left: 25px;
    margin-top: -35px;
}
.dashboard-messages {
    font-weight: 800;
    font-size: x-large;
    color: #6B459C;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    line-height: 55px;
}
.topright {
    position: relative;
    font-size: 18px;
    float: right;
    padding-top: 6px;
}
.dashboard-messagesimg {
    height: 100px;
    line-height: 75px;
    vertical-align: middle;
}
.progress {
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 7px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left {
    left: 0;
}
.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border: 7px solid #5A999E;
    position: absolute;
    top: 0;
    border-color: #529CA7;
}
.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 75px;
    border-bottom-right-radius: 75px;
    border-color: #529CA7;
    border-left-width: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right {
    right: 0;
}
.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 75px;
    border-bottom-left-radius: 75px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value {
    display: flex;
    border-radius: 50%;
    font-size: 36px;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    align-items: center;
    justify-content: center;
    color: #529CA7;
    height: 100%;
    font-weight: 300;
}
.progress .progress-value span {
    font-size: 12px;
    text-transform: uppercase;
}
.circle-holder{
    overflow-y: auto;
    height: 300px;
    padding: 10px;
}
.circle-holder ul {
    list-style: none;
    padding: 0;
    font: normal 14px Arial;
    margin-top: 15px;
}
.circle-holder ul li {
    overflow: hidden;
    position: relative;
    padding: 0 0 75px 50px;
    clear: both;
}
.circle-holder ul li::before {
    content: '';
    position: absolute;
    left: 7px;
    top: 7px;
    width: 20px;
    height: 999px;
    border: 1px dotted;
    border-width: 2px 0 0 2px;
}
.circle-holder ul li:last-child::before {
    border-width: 2px 0 0;
}
.circle-holder ul li:last-child{
	padding-bottom: 0;
}
.circle-holder ul li::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    background: #fff;
    border: 2px solid lightblue;
    border-radius: 50%;
}
.circle-holder ul li, li.passed {
    color: #999;
}
.circle-holder ul li.planetselfie::after {
    border-color: #E7BBD2;
    background: #E7BBD2;
}
.circle-holder ul li.missioncontrol::after {
    border-color: #B4D68B;
    background: #B4D68B;
}
.circle-holder ul li.passed::before, li.passed::after {
    border-color: dodgerblue;
}
#maincontainer4 {
    max-height: 500px;
    height: 440px;
}
/* This for loop creates the 	necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="10"] .progress-right .progress-bar {
    animation: loading-1 1.5s linear forwards;
}
.progress[data-percentage="10"] .progress-left .progress-bar {
    animation: 0;
}
.progress[data-percentage="25"] .progress-right .progress-bar {
    animation: loading-2 1.5s linear forwards;
}
.progress[data-percentage="25"] .progress-left .progress-bar {
    animation: 0;
}
.progress[data-percentage="30"] .progress-right .progress-bar {
    animation: loading-3 1.5s linear forwards;
}
.progress[data-percentage="30"] .progress-left .progress-bar {
    animation: 0;
}
.progress[data-percentage="40"] .progress-right .progress-bar {
    animation: loading-4 1.5s linear forwards;
}
.progress[data-percentage="40"] .progress-left .progress-bar {
    animation: 0;
}
.progress[data-percentage="50"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="50"] .progress-left .progress-bar {
    animation: 0;
}
.progress[data-percentage="60"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="60"] .progress-left .progress-bar {
    animation: loading-1 1.5s linear forwards 1.5s;
}
.progress[data-percentage="75"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="75"] .progress-left .progress-bar {
    animation: loading-2 1.5s linear forwards 1.5s;
}
.progress[data-percentage="80"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="80"] .progress-left .progress-bar {
    animation: loading-3 1.5s linear forwards 1.5s;
}
.progress[data-percentage="90"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="90"] .progress-left .progress-bar {
    animation: loading-4 1.5s linear forwards 1.5s;
}
.progress[data-percentage="100"] .progress-right .progress-bar {
    animation: loading-5 1.5s linear forwards;
}
.progress[data-percentage="100"] .progress-left .progress-bar {
    animation: loading-5 1.5s linear forwards 1.5s;
}
@keyframes loading-1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(36);
        transform: rotate(36deg);
    }
}
@keyframes loading-2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(90);
        transform: rotate(90deg);
    }
}
@keyframes loading-3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(108);
        transform: rotate(108deg);
    }
}
@keyframes loading-4 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(144);
        transform: rotate(144deg);
    }
}
@keyframes loading-5 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(180);
        transform: rotate(180deg);
    }
}
.progress {
    margin: 0 auto 1em;
}
.dashboard-messagesgrp {
    height: 303px;
}
.dont-break-out {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;
    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}
.planet-titletxt {
    margin-left: 35px;
    margin-top: -25px;
    width: 250px;
    clear: both;
    font-weight: 600;
}
.progress-desc {
    margin-left: 35px;
    width: 350px;
}
@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
        width: 100px;
        height: 100px;
    }
    .dashboard-messagesimg {
        padding-top: 0px;
    }
    .learnpath-header {
        font-size: 12px;
        font-weight: 600;
    }
    .progress .progress-value {
        font-size: 25px;
    }
}
@media (max-width: 767px) {
    .dashboard-messagesimg2 {
        display: none;
    }
}
@media (max-width: 600px) {
    #soundcloud1 {
        display: none;
    }
    #soundcloud2 {
        visibility: visible;
        display: inherit;
    }
}
