﻿@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Avenir.ttc');
}
html, body {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 1em !important;
    font-family: 'MyWebFont', Fallback, sans-serif;
    clear: both;
    margin-bottom: 125px;
}

.navextend {
    overflow: hidden;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 1;
}
.nav-floatright {
    float: right;
    display: inline;
}
.footer-container {
    background-color: #6B459C;
    margin: auto;
    padding-top: 25px;
    height: 115px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
nav ul {
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: small;
}
nav ul li a:hover {
    color: #9C82BD;
}
.li-inline {
    display: inline;
    padding-left: 13px;
    padding-right: 13px;
}
.main-wrapper {
    padding-top: 116px;
}
.particles_bg, #particles-js {
    width: 100%;
    height: 700px;
    scroll-behavior: smooth;
    background: #644D79;
    background-image: -webkit-linear-gradient(rgb(55, 87, 125) 10%, rgb(54, 65, 110) 50%, rgb(57, 31, 88) 80%);
    background-image: -o-linear-gradient(rgb(55, 87, 125) 10%, rgb(54, 65, 110) 50%, rgb(57, 31, 88) 80%);
    background-image: linear-gradient(rgb(55, 87, 125) 10%, rgb(54, 65, 110) 50%, rgb(57, 31, 88) 80%);
}
#particles-js {
    position: absolute !important;
    z-index: -99;
    top: 0px;
}
.landing-logo {
    position: absolute;
    top: 0px;
    margin-left: auto;
    margin-right: auto;
}
.landing-top {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
	padding-top: 100px;
    width: 100%;
    height: 700px;
    z-index: 100;
}
.landing-second {
    padding: 80px 0px;
    z-index: 10;
    background-color: #F7F7F7;
    margin-top: 50px;
}
#landing-join2 {
    margin-top: 10px;
}
.landing-third {
    height: 700px;
    background-color: #828DAB;
    background-image: url("/images/M+Device.png");
    background-size: 50% 90%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 0px;
}
.landing-fourth {
    height: 350px;
}
.landing-fifth {
    height: 500px;
    background-color:#F7F7F7;
    padding: 50px 0px;
}
.jumbospace {
    padding-top: 0px;
}
.ylpicon {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.landing-fourthhead {
    margin-top: 70px;
    margin-bottom: -40px;
    color: #6A459B;
}
.jumbo-colorremove {
    background-color: rgba(255, 255, 255, 0.00);
}
.landing-dropmenu {
    z-index: 12;
}
.wrapper {
    width: 350px;
    background-color: rgba(255, 255, 255, 0.80);
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    z-index: 99;
    position: relative;
}
.footer-row {
    text-align: center;
}
.subscribe-now {
    background-color: #7E6B90;
    border-radius: 30px;
    color: #FFFFFF !important;
    width: 160px;
    height: 50px;
    text-align: center;
    padding-top: 12px;
}
.nav-padder {
    padding-left: 15px;
    padding-right: 15px;
}
.landing-form {
    margin: 20px auto;
    max-width: 500px;
    width: 300px;
    text-align: center;
}
.landing-form-btn {
    background-color: #6A459B;
    color: #FFFFFF;
    padding: 10px 50px;
    border-radius: 25px;
    z-index: 100;
    border-width: thin;
    border-style: none;
    margin: 0px auto;
}
.landing-astronaut {
	position: absolute;
	overflow: hidden;
	max-width: 350px;
	right: 0px;
	top: 325px;
}
.landing-third-txt {
    position: absolute;
    bottom: 25%;
    max-width: 30%;
    left: 25%;
    color: #FFFFFF;
}
.landing-selfie {
    position: absolute;
    left: -300px;
    bottom: 561px;
}
.landing-fifth-txt {
    max-width: 650px;
    margin: auto;
    padding-top: 40px;
}
.landing-fourth-txt {
    max-width: 650px;
    margin: auto;
    padding-top: 75px;
}
.landing-firstsec-rightimg {
    margin-left: 100px;
}
.landing-top-imgs {
    text-align: center;
    margin: auto;
    max-width: 1450px;
}
.landing-wrapper {
    margin-top: -50px;
    margin-bottom: -50px;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}
.landing-planet-txt {
	margin: 40px auto 0px auto;
	padding: 0px 20px;
	text-align: center;
}
#landing-second-planet1 {
    display: inline-flex;
}
#landing-second-planet2 {
    display: none;
}
#landing-second-parentportal {
    display: inline-flex;
}
#landing-second-parentportal2 {
    display: none;
}
.landing-first {
    margin-top: 85px;
    margin: 20px auto;
	padding-top: 30px;
}
.landing-first hr {
    border-top: 4px solid #6B459C;
    width: 110px;
    margin-left: 0;
}
.landing-second hr, .landing-fifth hr {
    border-top: 4px solid #6B459C;
    width: 110px;
}
.landing-third {
    height: 550px;
}
.landing-third-txt {
    bottom: 10%;
    max-width: 25%;
    text-align: center;
    left: 28%;
}
.landing-selfie {
    left: -300px;
    bottom: 450px;
}
.landing-wrapper {
    margin-bottom: -25px;
}
.landing-prefirst {
    background-color: #E9E9E9;
}
.landing-prefirsthead {
     padding: 0px 100px;
}

#cookieModal .modal-dialog {
    width: 100%;
    max-width: 100% !important;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 0;
}



@media (max-width: 1199px) {
    .landing-third-txt {
        bottom: 8%;
        max-width: 30%;
        text-align: center;
        left: 22%;
    }
}
@media (max-width: 1070px) {
    .landing-astronaut {
	position: absolute;
	overflow: hidden;
	max-width: 250px;
	top: 432px;
    }
    .landing-third {
	height: 400px;
	max-width: 0px;
    }
    .landing-third-txt {
        bottom: 5%;
        max-width: 40%;
        left: 15%;
    }
    .landing-selfie {
        left: -225px;
        bottom: 500px;
        max-width: 450px
    }
}
@media (max-width: 991px) {
    .nav-padder {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }
    .landing-whyus {
    margin-top: 25px;
    margin-left: 0px;
    }
.landing-preimg {
    padding-bottom: 40px;
    max-width: 280px;
}
}
@media (max-width: 891px) {
	.landing-astronaut {
        display: none;
    }
    .landing-selfie {
        max-width: 400px
    }
    .landing-third {
        height: 350px;
    }
    .landing-third-txt {
        bottom: 2.5%;
        max-width: 38%;
        font-size: 14px;
        left: 15%;
    }
    .landing-fifth {
        background-size: 100% 60%;
    }
}
@media (max-width: 767px) {
    .landing-second-pic1 {
        margin: auto;
    }
    .landing-second-pic1txt {
        text-align: center;
        margin-top: 20px;
    }
    .landing-second-pic2txt {
        text-align: center;
        margin-top: 20px;
    }
	.landing-top-imgs{
		max-width: 300px;
		padding: 0px 20px;
	}
    #landing-second-planet1 {
        display: none;
    }
    #landing-second-planet2 {
        display: inline;
    }
    #landing-second-parentportal {
        display: none;
    }
    #landing-second-parentportal2 {
        display: inline;
    }
    .landing-fourth-txt {
        max-width: 500px;
        margin: auto;
        padding-top: 50px;
    }
    .landing-fourth {
        height: 350px;
    }
    .landing-third {
        height: 400px;
        background-image: url("/images/Device-phone.png");
        background-size: 50% 70%;
        background-position: center top;
        background-repeat: no-repeat;
    }
    .landing-third-txt {
        bottom: 10%;
        max-width: 70%;
        left: 15%;
        font-size: 16px;
        text-align: center;
    }
    .particles_bg, #particles-js {
        height: 600px;
    }
    .landing-top {
        height: 600px;
    }
    .landing-fifth-txt {
        max-width: 500px;
    }
    .landing-whyus {
        margin-top: 25px;
        margin-left: 0px;
    }
}
@media (max-width: 687px) {
    .landing-selfie {
        max-width: 300px;
        left: -150px;
        bottom: 600px;
    }
    .landing-astronaut {
        position: absolute;
        right: -250px;
        width: 400px;
        overflow: hidden;
    }
    .landing-top-imgs {
    margin-top: 0px;
    padding-top: 30px;
    }
.landing-prefirsthead {
     padding: 0px 25px;
}
}
@media (max-width: 645px) {
    .landing-astronaut {
        right: -175px;
        top: 350px;
        width: 300px;
    }
    .landing-third-txt {
        bottom: 5%;
    }
}
@media (max-width: 575.97px) {
    .landing-second-mobilepic {
        max-width: 400px;
        text-align: center;
    }
    .landing-selfie {
        left: -150px;
        bottom: 500px;
        max-width: 300px
    }
    .landing-fourth-txt {
        padding: 75px 20px;
    }
    .landing-fifth-txt {
        padding: 20px 20px;
    }
    .landing-third {
        height: 450px;
        background-size: 80% 70%;
    }
    .landing-fourth {
        height: 450px;
    }
}
@media (max-width: 447px) {
    .landing-third {
        height: 335px;
        background-size: 80% 60%;
    }
	html, body {
		text-align: center;
	}
    .landing-third-txt {
        bottom: 5%;
        font-size: 14px;
    }
    .landing-fourth-txt {
        margin-top: 50px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 50px;
    }
    .landing-fifth {
        height: 500px;
        background-size: 100% 50%;
    }
    .landing-fifth-txt {
        padding: 20px 20px;
    }
    .landing-fourth-txt {
        padding: 20px 20px;
    }
}
