@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Avenir.ttc');
}

html, body {
    height: 100%;
    width: 100%;
	position: relative;
    margin: auto;
    font-size: 17px !important;
    font-family: 'MyWebFont', Fallback, sans-serif;
    clear: both;
}

.mvpSignupBtn {
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #F77446;
    font-size: 20px;
    width: 100%;
    padding: 10px 50px;
}

.logoQuote {
    margin-top: -80px;
    margin-bottom: 50px;
    padding-left: 8%;
    font-size: 12px;
    width: 500px;
}

.mvpCardGrey {
    border-radius: 10px;
    background-color: #D8D8D9;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.card-deck .card {
    min-width: 150px;
    max-width: 150px;
}

.card-title {
    margin-bottom: .75rem;
}

.mvpSection1-1 {
    margin-top: 50px;
}

.mvpSection1-1-1 {
    margin-top: 50px;
}

.logoHeader {
    margin-bottom: 75px;
    padding-top: 40px;
    padding-left: 8%;
}

.mvpSection1 {
	height: 675px;
    background-image: url("/images/NewImages/Bg-section1.png");
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
}

.disclaimerbg {
    height: 600px;
    margin-bottom: 100px;
    background-size: 12% 75%;
    background-position: center left;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
    padding-top: 44px;
}

.disclaimerbg p, .disclaimerbg h5 {
	text-align: left !important;
}

.mvpSection1-2 {
    margin-top: 25px;
}

.mvpfamily {
    visibility: visible;
}

.mvpSection1-3 {
    background-image: url("/images/NewImages/Bg-section2.png");
    background-size: 80% 60%;
    background-position: top right;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 100px;
    margin-top: 50px;
	margin-bottom: 100px;
}

.mvpSection1-4 {
    background-image: url("/images/NewImages/Bg-section3.png");
    background-size: 100% 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 25px;
    padding-top: 150px;
}

.mvpsignupform {
    margin: auto;
    text-align: center;
    max-width: 400px;
    background-color: #FFFFFF;
    padding: 20px;
}

.mvpsignupsuccess {
    margin-top: 60px;
}

.mvpQuoteLine {
    width: 80%;
    text-align: center;
    border-bottom: 2px solid #EFDFD5;
    margin: 0 auto 50PX;
}

.mvpQuoteLine div {
    position: relative;
    text-align: center;
    margin: 0 auto -35px;
    width: 75px;
    content: url("../images/NewImages/quote-graphic@2x.png");
    background: #fff;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin-left: 15px;
    background-color: #EFDFD5;
}

.carousel-indicators {
    bottom: -50px;
}

.carousel-item {
    height: 150px;
}

#accordionExample {
    margin-top: 125px;
}

#accordionExample .card {
    border: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
}

#accordionExample .card-header {
    background-color: white !important;
    border: none;
    padding: 20px;
}

#accordionExample a {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: black;
}

.accordion-toggle.collapsed:after {
    font-size: 50px;
    font-weight: 100;
    font-family: FontAwesome;
    content: "\f105";
    text-align: right;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: 0;
}

.accordion-toggle:after {
    font-size: 50px;
    font-weight: 100;
    font-family: FontAwesome;
    content: "\f107";
    color: #F77446;
    text-align: right;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: 0;
}



@media (max-width: 767.98px) {
    .mvpSection1 {
        margin-bottom: 100px;
        background-size: 12% 75%;
        background-position: center left;
        background-image: url("/images/NewImages/Bg-Section1-1.png");
        text-align: center;
    }
	
	.mvpSection1 li{
		text-align: left;
	}

    .logoHeader {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .logoQuote {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        margin-top: -50px;
    }
	
	.mvpSection1-1-1{
		margin: 50px 10px;
	}

    .mvpfamily {
        visibility: hidden;
    }

    .mvpSection1-3 {
        background-size: 90% 45%;
    }
}

@media (max-width: 450px) {
    .mvpSection1-3 {
        background-size: 95% 35%;
    }
	.mvpSection1{
		height: 750px;
		margin-bottom: 200px;
	}
	
	#mvplanding-join{
		font-size: 15px;
		max-width: 250px;
		text-align: center !important;
	}
	#mvplanding-join2{
		font-size: 15px;
	}
	#MVPSignUpBtn{
		font-size: 15px;
	}
}

@media (max-width: 336px) {
	.mvpSection1{
		height: 900px;
		margin-bottom: 200px;
	}
}
