@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Avenir.ttc');
}
.flip-container.hover .flipper {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
  min-height: 500px;
}
.front, .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 2;
  -ms-transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  transform: rotateY(0deg);
  min-height: 350px;
  left: 25px;
  top: 80px;
}

.HKNavselected {
    border-bottom: 5px solid #FFCD50;
}

/* back, initially hidden pane */
.back {
  -ms-transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  background-color: #fff;
  min-height: 475px;
}
.HKSignupBtn {
  color: #FFFFFF;
  border-radius: 25px;
  background-color: #FFCD50;
  font-size: 20px;
  width: 100%;
  cursor: pointer;
  padding: 10px 50px;
}
html, body {
  height: 100%;
  width: 100%;
  margin: auto;
  position: relative;
  font-size: 17px !important;
  font-family: 'MyWebFont', Fallback, sans-serif;
  color: #505050;
  clear: both;
}
.custom-list {
  list-style: none;
  padding-left: 0;
  padding-top: 20px;
}
.custom-list li {
  padding-left: 40px;
  padding-bottom: 5px;
  max-width: 400px;
  position: relative;
}
.custom-list li:before {
  content: '';
  width: 25px;
  height: 20px;
  position: absolute;
  background-image: url('../images/check.png');
  background-position: center;
  background-size: cover;
  left: 0;
  top: 50%;
  transform: translateY(-75%);
}
.logoQuote {
  margin-top: -80px;
  margin-bottom: 50px;
  padding-left: 8%;
  font-size: 12px;
  width: 500px;
}
.HKCardGrey {
  border-radius: 10px;
  background-color: #D8D8D9;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-deck .card {
  min-width: 150px;
  max-width: 150px;
}
.card-title {
  margin-bottom: .75rem;
}
.HKSection1-1 {
  padding-top: 50px;
}
.HKSection1-1-1 {
  margin-top: 50px;
}
.logoHeader {
  margin-bottom: 75px;
  padding-top: 40px;
  padding-left: 8%;
}
.HKSection1 {
  background-image: url("../images/Hero-BG 1024-1440px.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
}
.disclaimerbg {
  margin-bottom: 100px;
  background-size: 12% 75%;
  background-position: center left;
  background-image: url("../images/Bg-Section1-1.png");
  background-repeat: no-repeat;
  position: relative;
  text-align: center;
  padding-top: 44px;
}
.HKSection1-2 {
  margin-top: 100px;
}
.HKfamily {
  visibility: visible;
  right: 0px;
  top: 330px;
  position: absolute;
  z-index: 0;
}
.HKSection1-3 {
  padding-top: 100px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.HKSectionB {
  background-image: url("../images/WallPaper@2x.png");
  background-size: 350px;
  position: relative;
  padding-top: 75px;
  padding-bottom: 50px;
}
.HKSection1-4 {
  background-image: url("../images/Bg-section3.png");
  background-size: 100% 100%;
  background-position: center bottom;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 25px;
  padding-top: 150px;
}
.HKsignupsuccess {
  margin-top: 60px;
}
.HKsignupform {
  margin: 100px auto;
  text-align: center;
  max-width: 400px;
  background-color: #FFFFFF;
  padding: 20px;
}
.HKQuoteLine {
  width: 80%;
  text-align: center;
  border-bottom: 2px solid #EFDFD5;
  margin: 0 auto 50PX;
}
.HKQuoteLine div {
  position: relative;
  text-align: center;
  margin: 0 auto -35px;
  width: 75px;
  content: url("../images/quote-graphic@2x.png");
  background: #fff;
}
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-left: 15px;
  background-color: #EFDFD5;
}
.carousel-indicators {
  bottom: -50px;
}
.carousel-item {
  height: 150px;
}
#accordionExample {
  margin-top: 125px;
}
#accordionExample .card {
  border: none;
  background-color: #F4FAFB !important;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
}
#accordionExample .card-header {
  background-color: #F4FAFB !important;
  border: none;
  padding: 20px;
}
#accordionExample a {
  font-size: 20px;
  font-weight: 500;
  text-decoration: none;
  color: black;
}
.HKFAQ .card {
  padding-right: 30px !important;
}
.accordion-toggle:after {
  font-size: 50px;
  font-weight: 100;
  font-family: FontAwesome;
  content: "\f107";
  color: #71C08F;
  text-align: right;
  padding-left: 10px;
  position: absolute;
  right: 15px;
  top: 0;
}
.accordion-toggle.collapsed:after {
  font-size: 50px;
  font-weight: 100;
  font-family: FontAwesome;
  content: "\f105";
  text-align: right;
  padding-left: 10px;
  position: absolute;
  right: 15px;
  top: 0;
}
.HKShapeR {
  right: 0px;
  position: absolute;
}
.HKShapeL {
  left: 0px;
  top: 1000px;
  position: absolute;
}
.HKFAQ {
  background-color: #F4FAFB;
  padding-bottom: 150px;
}
.HKSCHARS {
  top: -175px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
  position: absolute;
}
.valueblock {
  background-color: #F4F4F4;
  padding-top: 20px;
  margin-bottom: 15px;
  margin-left: 25px;
  margin-right: 25px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 10px;
}
#cookieModal .modal-dialog {
  width: 100%;
  max-width: 100% !important;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
}

.custom-checkbox {
  position: relative;
  display: inline-block;
	margin: 10px auto;
  line-height: 20px;
}
.custom-checkbox span {
  display: block;
  margin-left: 20px;
  padding-left: 7px;
  line-height: 20px;
  text-align: left;
}
.custom-checkbox span::before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  background: #fdfdfd;
  border: 1px solid #e4e5e7;
}
.custom-checkbox span::after {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 0;
  left: 0;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
}
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: -1;
  position: absolute;
}
.custom-checkbox input[type="checkbox"]:checked + span::after {
  font-family: "FontAwesome";
  content: "\f00c";
  background: #73C89F;
  color: #fff;
}
/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
        background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 150ms infinite linear;
            -moz-animation: spinner 150ms infinite linear;
            -ms-animation: spinner 150ms infinite linear;
            -o-animation: spinner 150ms infinite linear;
            animation: spinner 150ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@media (max-width: 991.99px) {
  .HKfamily {
    width: 350px;
    top: 400px;
  }
  .HKSection1 {
    background-image: url("../images/Hero-BG 768-1024px.png");
  }
    .navbar-nav {
        color: black;
        font-size: 20px;
    }
    .navbar-nav a {
        margin-left: 0 !important;
    }
    .navbar-nav .nav-link {
        width: 200px !important;
    }
    .navbar-nav .HKSignupBtn {
        color: black !important;
        text-align: left !important;
        border-radius: 0px;
        padding: 10px 0px;
        background-color:none;
        margin-left: 0px !important;
    }
@media (max-width: 767.98px) {
  .HKSection1 {
    margin-bottom: 100px;
    text-align: center;
  }
  .HKSection1-2 {
    margin-top: 0px;
  }
  .HKSection1 li {
    text-align: left;
  }
  .logoHeader {
    padding: 0;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
  }
  .logoQuote {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: -50px;
  }
  .HKSection1-1-1 {
    margin: 50px 10px;
  }
  .HKfamily {
    visibility: hidden;
  }
  .flipper {
    min-height: 525px;
  }
}

@media (max-width: 450px) {
  .front {
    left: 10px;
  }
  .HKSection1 {
    background-image: url("../images/Hero-BG _768px.png");
  }
  .HKSCHARS {
    width: 200px;
    margin-left: -100px;
    top: -100px;
  }
  #HKlanding-join {
    font-size: 15px;
    max-width: 250px;
    text-align: center !important;
  }
  #HKlanding-join2 {
    font-size: 15px;
  }
  #HKSignUpBtn {
    font-size: 15px;
  }
}
@media (max-width: 336px) {
  .flipper {
    min-height: 550px;
  }
  .HKSection1 {
    margin-bottom: 900px;
  }
}