@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Avenir.ttc');
}
.flip-container.hover .flipper {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.HKpromoSave{
	color: white;
	background-color: #55B588;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 20px / 20px !important;
}

.flipper {
    transition: 0.8s;
    transform-style: preserve-3d;
    position: relative;
    min-height: 450px;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
}

.front {
    z-index: 2;
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    min-height: 350px;
    left: 25px;
    top: 100px;
}


/* back, initially hidden pane */

.back {
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background-color: #fff;
    min-height: 400px;
}

.HKSignupBtn {
    color: #FFFFFF;
    border-radius: 25px;
    background-color: #FFCD50;
    font-size: 20px;
    width: 100%;
    padding: 10px 50px;
}

.logoHeader {
    margin-bottom: 25px;
    padding-left: 8%;
}

html, body {
	height: 100% ;
	width: 100% ;
    margin: auto;
    clear: both;
    position: relative;
    font-size: 1rem;
    background-color: #F6F6F6;
    font-family: 'MyWebFont', Fallback, sans-serif;
}
html { font-size: 1rem; }

#wrap {
    min-height: 100%;
}

.maincontainer {
    overflow-y: auto;
    overflow-x:hidden;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}

.footer {
    position: relative;
    margin-top: -100px; /* negative value of footer height */
    height: 100px;
    width: 100% !important;
    background-color: #73C8A0;
    clear: both;
}
.footer2 {
    position: relative;
    margin-top: -300px; /* negative value of footer height */
    height: 300px;
    width: 100% !important;
    background-color: #73C8A0;
    clear: both;
}


.card {
    min-height: 85px;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.card-block{
     word-wrap: break-word;
}

.card-hover h5{
	white-space:nowrap;
}
.card-hover .row{
	min-height: 60px;
}
.HKsignupform {
    text-align: center;
    max-width: 400px;
	
    background-color: #FFFFFF;
    padding: 20px;
}
#carousel .carousel {
	position: relative;
	background-color:#F6F6F6;
}

.progress-bar {
    border-right: solid 5px #FFF;
    max-height: 10px;
}
.progress-bar:last-child {
    border: none; 
}

.HKSignupFoot {
    background-color: #73C8A0;
    color: white;
    width: 100%;
    padding: 20px;
}
.HKSignupFoot2 {
	position: relative;
    background-color: #73C8A0;
    color: white;
    width: 100% !important;
}
.footer button{
	background-color: #FFCB1A;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 20px;
}
.footer2 button{
	background-color: #FFCB1A;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 20px;
}
.HKSignupFoot button{
	background-color: #FFCB1A;
	padding-left: 70px;
	padding-right: 70px;
	border-radius: 20px;
}

.card-click:focus{
	background-color: lightgray;
}

.card-plan:focus{
	
	background-color: lightgray;
}

.custom-list,.finish-list {
    list-style: none;
    padding-left: 0;
}

.custom-list li {
	padding-left: 40px;
	padding-bottom: 5px;
    position: relative;
}
.custom-list li:before {
    content: '';
    width: 25px;
    height: 20px;
    position: absolute;
    background-image: url('../images/check.png');
    background-position: center;
	background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-75%);
}
.finish-list li {
	padding-left: 60px;
	padding-bottom: 10px;
    position: relative;
}

.finish-list li:before{
	content: '';
    width: 40px;
    height: 30px;
    position: absolute;
    background-image: url('../images/check.png');
    background-position: center;
	background-size: cover;
    left: 0;
    top: 50%;
    transform: translateY(-75%);
}

.grid-container {
  background-color:#F6F6F6;
}

.paddle {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 3.5em;
    opacity: 0.5;
    background: none;
    border: none;
    outline: none;
}

.left-paddle {
    left: 5px;
}

.right-paddle {
    right: 10px;
}

.carousel-item .card {
	text-align: center;
	margin: 50px 0px;
	min-height: 350px;
	max-height: 350px;
	min-width: 300px;
	max-width: 300px;
	overflow: visible;
}

.fa-lg {
    font-size: 3em;
    color: #73C8A0;
}

.cardImages{
	position: absolute;
	top: -55px;
	left: 50%;
	margin-left: -50px;
	
}

#outercarousel .fadecontainer {
    top: 0;
    left: 0;
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
        background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 150ms infinite linear;
            -moz-animation: spinner 150ms infinite linear;
            -ms-animation: spinner 150ms infinite linear;
            -o-animation: spinner 150ms infinite linear;
            animation: spinner 150ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media (max-width: 992px) {
    html {
        font-size: 0.85rem;
    }

    .nav-item .card {
        min-height: 300px;
        min-width: 300px;
        max-width: 300px;
        overflow: visible;
    }

    .cardImages {
        top: -40px;
        width: 70px;
        left: 50%;
        margin-left: -35px;
    }
}

@media (min-width: 330px) and (max-width: 636px) {
    #carouselExample .carousel-item {
        margin-left: auto !important;
        margin-right: auto !important;
        text-align:center;
    }

        #carouselExample .carousel-item .card {
            min-height: 300px;
            max-height: 300px;
            min-width: 300px;
            max-width: 300px;
            overflow: visible;
        }

    .cardImages {
        width: 70px;
        left: 50%;
        margin-left: -35px;
    }
}

    @media (min-width: 768px) and (max-width: 992px) {
		        /* show 2 items */
        #carouselExample .carousel-inner .active + .carousel-item {
            display: block;
        }
        /* Show 4th slide on md if col-md-4*/
        #carouselExample .carousel-inner .active.col-lg-4.carousel-item + .carousel-item  + .carousel-item  {
            position: absolute;
            top: 0;
            right: -50%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
    }

    @media (min-width: 636px) and (max-width: 768.98px) {
        /* Show 3rd slide on sm if col-sm-6*/
        #carouselExample .carousel-inner .active.col-sm-6.carousel-item + .carousel-item  {
            position: absolute;
            top: 0;
            right: -50%; /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: hidden;
        }
    }

    @media (min-width: 636px) {


        #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
            transition: none;
        }

        #carouselExample .carousel-inner .carousel-item-next {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        /* left or forward direction */
        #carouselExample .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        #carouselExample .carousel-item-next.carousel-item-left + .carousel-item,
        #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* farthest right hidden item must be also positioned for animations */
        #carouselExample .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* right or prev direction */
        #carouselExample .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item,
        #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

    @media (max-width: 550px) {
        html {
            font-size: 0.75rem;
        }
    }

    /* MD */
    @media (min-width: 768.98px) {
        /* show 3rd of 3 item slide */
        #carouselExample .carousel-inner .active + .carousel-item   {
            display: block;
        }

        #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
        }

        #carouselExample .carousel-inner .carousel-item-next {
            position: relative;
            transform: translate3d(0, 0, 0);
        }
        /* left or forward direction */
        #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* right or prev direction */
        #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }
    /* LG */
    @media (min-width: 992px) {
        /* show 4th item */
        #carouselExample .carousel-inner .active + .carousel-item + .carousel-item  {
            display: block;
        }
		
		        /* Show 4th slide on md if col-md-4*/
        #carouselExample .carousel-inner .active.col-xl-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -50%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
        /* Show 5th slide on lg if col-lg-3 */
        #carouselExample .carousel-inner .active.col-xl-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%; /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* right or prev direction //t - previous slide direction last item animation fix */
        #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

 /* LG */
    @media (min-width: 1200px) {
        /* show 4th item */
        #carouselExample .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item  {
            display: block;
        }
		
		        /* Show 4th slide on md if col-md-4*/
        #carouselExample .carousel-inner .active.col-xl-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -50%;
            z-index: -1;
            display: block;
            visibility: visible;
        }

        #carouselExample .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            transition: none;
        }
        /* Show 5th slide on lg if col-lg-3 */
        #carouselExample .carousel-inner .active.col-xl-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -25%; /*change this with javascript in the future*/
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        #carouselExample .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* right or prev direction //t - previous slide direction last item animation fix */
        #carouselExample .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }
