.x-mask.splashscreen {
    background-color: white;
    opacity: 1;
}
.x-mask-msg.splashscreen,
.x-mask-msg.splashscreen div {
    font-size: 20px;
    /*padding: 300px 50px 10px 50px;*/
    border: none;
    background-color: transparent;
    /*background-position: top center;*/
}
.x-message-box .x-window-body .x-box-inner {
    min-height: 110px !important;
}
.x-splash-icon {
    /* Important required due to the loading symbols CSS selector */
    background-image: url('/internet/rvi/images/rvilogo.png') !important;
    height: 109px;
    width: 213px;
    margin-top: -200px;
    margin-bottom: 20px;
}