.x-grid-row-over .x-grid-cell-inner {
    font-weight: bold;
}

.msg .x-box-mc {
    font-size: 14px;
}

@font-face {
    font-family: SF-Ui-Lite;
    src: url(/fonts/sf-ui-lite.otf);
}

#msg-div {
    left: 35%;
    position: absolute;
    top: 10px;
    width: 300px;
    z-index: 20000;
    z-index:  21002;
}

#msg-div .msg {
    background: none repeat scroll 0 0 #F6F6F6;
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    color: #555555;
    margin-top: 2px;
    padding: 10px 15px;
}

#msg-div .msg h3 {
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 8px;
}

#msg-div .msg p {
    margin: 0;
}

.SignOnContainer {
    position: relative;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    left: 12%;
}

.SignOnLogo {
    position: absolute;
    width: 10%;
    margin-top: -2%;
    left: 2.5%;
}

.SignOnUserField {
    position: absolute;
    width: 15%;
    margin-top: 7%;
}
.SignOnerrorField {
    position: absolute;
    margin-top: 15%;
    left: 2%;
    width: 20%;
}

.SignOnPasswordField{
    position: absolute;
    margin-top: 9%;
    width: 15%;
}

.SignOnButton {
    position: absolute;
    width: 10%;
    margin-top: 11.5%;
    left: 2.5%;
}

/*These two fix the issue of positioning for sign on screen*/
.ylpsignontext{
    position: absolute;
    top: 95%;
    left: 1%;
}

.rvisignonlink{
    position: absolute;
    top: 97%;
    left: 1.5%;
}