﻿@charset "utf-8";

hr {
    border-top: 4px solid #6B459C;
    width: 150px;
}
.left-corner {
    width: 0;
    height: 0;
	position: absolute;
	top: 50%;
	left:-35px;
	margin-top:-12px;
    border-top: 25px solid transparent;
    border-right: 40px solid #5ABEB9;
    border-bottom: 25px solid transparent;
}
.right-corner {
    width: 0;
    height: 0;
	position: absolute;
	top: 50%;
	right:-35px;
	margin-top:-12px;
    border-top: 25px solid transparent;
    border-left: 40px solid #5ABEB9;
    border-bottom: 25px solid transparent;
}

.secondshower {
    display: none;
}
.firstshower {
    display: inline-flex;
}

.team-name{
    text-align: left;
}
.team-advisory {
    background-color: #F7F7F7;
    padding-top: 50px;
}


@media (max-width: 1199.99px) {
    .team-name {
        font-size: 28px;
    }
}
@media (max-width:991px) {
	.right-corner{
		display: none;
	}
	.left-corner{
		display: none;
	}
    .team-name{
        text-align: center;
    }
    .team-row {
		
        text-align: center;
    }
    .secondshower {
        display: inline-block;
    }

    .firstshower {
        display: none;
    }
}
@media (max-width: 513px) {
    .team-name {
        font-size: 22px;
    }
}
