@font-face {
    font-family: 'MyWebFont';
    src: url('../fonts/Avenir.ttc');
}

/* Absolute Center Spinner */
.loading {
    position: fixed;
    z-index: 1200;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

    /* Transparent Overlay */
    .loading:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
        background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
    }

    /* :not(:required) hides these rules from IE9 and below */
    .loading:not(:required) {
        /* hide "loading..." text */
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }

        .loading:not(:required):after {
            content: '';
            display: block;
            font-size: 10px;
            width: 1em;
            height: 1em;
            margin-top: -0.5em;
            -webkit-animation: spinner 150ms infinite linear;
            -moz-animation: spinner 150ms infinite linear;
            -ms-animation: spinner 150ms infinite linear;
            -o-animation: spinner 150ms infinite linear;
            animation: spinner 150ms infinite linear;
            border-radius: 0.5em;
            -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
            box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
        }

/* Animation */

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#HKmainPortal{
    padding-bottom: 100px;
}

.progress-bar {
    max-height:10px;
    border-right: solid 5px #FFF;
}

.progress-bar:last-child {
    border: none;
}

.card-hover:hover{
	position: relative;
	background-color: lightgray;
}

html, body {
    height: 100%;
    position: relative;
    width: 100%;
    font-family: 'MyWebFont', Fallback, sans-serif;
}

html {
    font-size: 1rem;
}

@media (max-width: 992px) {
    html {
        font-size: 0.85rem;
    }
}


.card {
    cursor: pointer;
    min-height: 85px;
	text-align: left;
}

#HKcontainer2 .card {
    padding-right: 30px !important;
}

    #accordionExample .card {
        border: none;
        background-color: #FCFCFC !important;
        border-bottom: 2px solid rgba(0, 0, 0, 0.25);
        border-radius: 0.25rem;
    }

    #accordionExample .card-header {
        background-color: #FCFCFC !important;
        border: none;
        padding: 20px;
    }

    #accordionExample a {
        font-size: 20px;
        font-weight: 500;
        text-decoration: none;
        color: black;
    }

.accordion-toggle:after {
    font-size: 50px;
    font-weight: 100;
    font-family: FontAwesome;
    content: "\f107";
    color: #71C08F;
    text-align: right;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: 0;
}

.accordion-toggle.collapsed:after {
    font-size: 50px;
    font-weight: 100;
    font-family: FontAwesome;
    content: "\f105";
    text-align: right;
    padding-left: 10px;
    position: absolute;
    right: 15px;
    top: 0;
}

#HKintro {
	padding: 0;
	
}

#HKintro .carousel-inner {
	height: 100vh;
	width: 100%;
    margin: 0px !important;
	background-color:#F6F6F6;  
	background-image: url('../../images/WallPaper@2x.png');
	background-repeat:repeat;
	background-position: center bottom;
	
}
#HKintro .carousel-item {
	height: 100vh;
	width: 100%;
    margin: 0px !important;
	
}
.modal-custom .modal-dialog {
    min-width:100%;
    position:fixed;
    bottom:0;
    left:0;
    margin:0;
}
.HKNavselected {
	border-bottom: 5px solid #F2D632;
}
.disabled-card {
    background: url('../../images/lock-icon@2x.png') no-repeat, #FDFDFD;
    background-size: 50px;
    background-position: center;
    cursor: default;
}
.dottedline {
    border-top: 4px dashed lightgrey;
}
.disabled-card .row {
    opacity: .4;
}
.HKaccountSave{
	color: white;
	background-color: #55B588;
	padding-right: 50px;
	padding-left: 50px;
	border-radius: 20px / 20px !important;
}
.HKaccountSave:hover {
    background-color: #4CA57B;
}
.HKUnsubscribe {
    color: #C2C2C2;
    background-color: #F0F0F0;
    padding: 15px 20px; 
    border-radius: 30px / 30px !important;
}
.HKUnsubscribe:hover {
    background-color: #F2D632;
    text-decoration:none;
    color: white;
}

.HKgreenBtn {
    color: white;
    background-color: #55B588;
    padding: 15px 20px;
    border-radius: 30px / 30px !important;
}

    .HKgreenBtn:hover {
        background-color: #4CA57B;
        text-decoration: none;
    }

#HKAccountForm{
		width: 40% !important;
	}
#HKUnsubscribeForm {
    width: 40% !important;
}
input[type="text"],input[type="email"],input[type="password"],input[type="tel"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

input[type="text"]:focus,input[type="email"]:focus,input[type="password"]:focus,input[type="tel"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (max-width: 991px) {
	#HKAccountForm{
		width: 60% !important;
	}
    #HKUnsubscribeForm {
        width: 60% !important;
    }
}

@media (max-width: 768px) {
	#HKAccountForm{
		width: 75% !important;
	}
    #HKUnsubscribeForm {
        width: 75% !important;
    }
    .cardspacer {
        margin-top:15px !important;
    }
}

@media (max-width: 575.98px) {
    #card-carousel .card {
        text-align: center;
    }
	#HKAccountForm{
		width: 95% !important;
	}
    #HKUnsubscribeForm {
        width: 95% !important;
    }
}

