html, body {
    height: 100%;
}
#wrap {
    min-height: 100%;
}
#main {
    overflow: auto;
    padding-bottom: 150px; /* this needs to be bigger than footer height*/
}
.footer {
    position: relative;
    background-color: #6B459C;
    margin: auto;
    height: 115px;
    margin-top: -115px;
    clear: both;
    padding-top: 20px;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
}
nav ul li a:hover {
    color: #9C82BD;
}

.li-inline {
    display: inline;
    padding-left: 13px;
    padding-right: 13px;
}

.footer-adjust{
        margin-left: -20px;
    }